
<title>{{ title }} | Apictureofahorse.com</title>
<link rel="icon" type="image/x-icon" href="/assets/favicon.svg"/>

<meta name="author" content="{{ site.authorName }}">
{%- if (tags) -%}<meta name="description" content="Sick of PDF menus? View {{title}}'s menu formatted for the web or browse our handcrafted collection of PDF to web converted menus.">{%- elif (desc) -%}<meta name="description" content="{{ desc }}">{%- endif -%}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="assets/site.webmanifest">
<meta name="msapplication-TileColor" content="{{ site.color }}">
<meta name="theme-color" content="{{ site.color }}">

<meta property="og:title" content="{{site.desc}}" />
<meta property="og:description" content="" />
<meta property="og:type" content="website"/>
<meta property="og:image" content="/assets/ogimage.png"/>
<!-- <meta property="og:image:secure_url" content="/assets/img/social.jpg"/> -->
<meta name="twitter:image:src" content="/assets/ogimage.png">

<link rel="stylesheet" href="/assets/css/critical.min.css">
<link rel="stylesheet" href="/assets/css/main.min.css">

