<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'components/head.njk' %}
    </head>
    <body>
          
        <main>

           <img src="/assets/img/horse.png" alt="A picture of a horse">
    
        </main>

        <footer>
            <p><a href="#">Created with love</a></p>
        </footer>

    </body>
</html>