@charset 'utf-8';
@use "sass:map";

@import "mixins";
@import "variables";



// ===================
// main
// ===================
body {
    background-color: #A36242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

img {
    width: 100%;
    padding: 0 3rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

a {
    color: #6e412a;
}








