---
title: Success!
description: You have successfully submitted your very own picture of a horse. Thank your for your contribution, we will review your submission asap.
layout: layouts/msg.njk
eleventyExcludeFromCollections: true
---